<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <h1 class="display-3">Hello Welcome!! Submit a Post</h1>

    <!-- app.get("/secrets") -->
    <% usersWithSecrets.forEach((user) => { %>
    <p class="secret-text"><%=user.username %> : <%= user.secret %></p>
    <% }) %>

    <p class="secret-text">Sample Post</p>
    <hr />

    <!-- app.get("/login") -->
    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
    <!-- app.get("/submit") -->
    <a class="btn btn-dark btn-lg" href="/submit" role="button"
      >Submit a post</a
    >
  </div>
</div>

<%- include('partials/footer') %>
